*.pyc
**/visualization
**/demos
**/real_demo_data**
**/release_demos
**/descriptions/objects
**/__pycache__
log.txt
**/*viz
**/eval_data
**/**.egg-info
**/real_demo_data
**.html
**.jpg
.DS_Store
.vscode
